.main{
  background-color: #002f6c;
  padding: 30px
}

.back{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #325889;
  background-size: cover;
  width: 100%
}

.logo{
  float: left;
  font-family: fantasy ;
  color: white;
  font-size: 40px
}

.title{
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  color: white;
  font-size: 32px
}

.container{
  margin-left: 20px;
}

.text-overlay {
  color: white;
  font-size: 30px;
}

.centered {
  position: absolute;
  top: 49%;
  left: 47%;
}

.left-middle {
  position: absolute;
  top: 47%;
  left: 45px;
}

.right-middle {
  position: absolute;
  top: 47%;
  right: 45px;
}

.center-bottom {
  position: absolute;
  bottom: 65px;
  left: 46.5%;
}

.image-span{
  text-align: center;
}

.horizontal-dotted-line{
  width: 400px;
  border-top-width: 10px; 
  border-top-style: dotted;
}

.horizontal-solid-line{
  width: 400px;
  height: 10px;
  border-top-width: 10px; 
  border-top-style: solid;
  border-radius: 50px;
}

.horizontal-good-connection{
  border-top-color: lightgreen;
  transition: border-top-color 2s;
}

.horizontal-bad-connection{
  border-top-color: rgb(250, 120, 68);
  transition: border-top-color 2s;
}

.horizontal-no-connection{
  border-top-color: lightskyblue;
  transition: border-top-color 2s;
}

.vertical-good-connection{
  border-right-color: lightgreen;
  transition: border-right-color 2s;
}

.vertical-bad-connection{
  border-right-color: rgb(250, 120, 68);
  transition: border-right-color 2s;
}

.vertical-no-connection{
  border-right-color: lightskyblue;
  transition: border-right-color 2s;
}

button{
  position: relative;
  overflow: hidden;
  outline: 0;
  border: 0;
  background-color: #6682a6;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: color 0.5s;
}

button:hover{
  background: #7f97b5;
  cursor: pointer; 
  transition: background-color 0.5s;
  color: #333; 
}

.scenarios{
  text-align: center;
  color: white;
  font-size: 24px;
}

.flow{
  padding-top: 60px;
}

.lmImage{
  float: right;
  width: 240px;
  filter: invert(100%) brightness(10);
}

.mat-list-item{
  font-size:24px
}

.buttonCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

.progress-bar{
  background-color: #002f6c;
}

.progress{
  border-radius: 0px;
}

.progress-bar-vertical {
  width: 25px;
  min-height: 150px;
  margin-left: 20px;
  float: left;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.progress-bar-vertical-2 {
  width: 25px;
  min-height: 150px;
  float: right;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical-2 .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.valve_img{
  width: 120px;
  height: 120px;
  margin-top: -15px;
  padding: 0px;
}

.valve_img2{
  width: 120px;
  height: 120px;
  margin-top: -75px;
  padding: 0px;
}

.tank_img{
  width: 175px;
  padding: 0px;
}

.leak_img{
  margin-top: 10px;
  width: 100px;
}

.sensor{
  width: 50px;
  text-align:center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.three-div {
  height:600px;
}