/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #002f6c }
body { margin: 0; font-family: monospace, "Helvetica Neue", sans-serif; }
mat-dialog-container {
    background: #002f6c !important;
}